*{
    list-style-type: none;
}
* > ul> li
{
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.coding-background >li{
    font-size: 96px;
    text-decoration: underline;
    color: #52D728;
}

.coding-background>p{
    font-size: 24px;
}

.container{
    color: white;
}

.info-description{
    padding-right: 16rem;
    text-align: center;
}


.education > li{

    font-size: 96px;
    text-decoration: underline;
    color: #E7F20D;
}

.education > h1{
    font-size: 64px;
}

.hobbies >li{
    font-size: 96px;
    text-decoration: underline;
    color: #3491CB;
}


