<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
        <meta charset="utf-8"/>
        <base href="/">
    </head>
    <body>
        <div id="info" class="info-container">
            <div class="info-banner">
                <div class="info-description">
                    <ul>
                        <div class="education">
                            <li>Education</li>
                            <br>
                                <h1>Bachelor of Arts 2020</h1>
                                <br>
                            <ul>
                                <li>Major(s): Computer Information Systems</li>
                                    <br>
                                <li>Minor(s): Management Information Systems</li>
                                    <br>
                                <li>School/Instituion: Simpson College</li>
                                    <br>
                                <li>Location: Indianola, IA</li>
                                <br>
                            </ul>
                        </div>
                        <div class="coding-background">
                            <li>Coding Background</li>
                            <br>
                            <p>Started programming in spring 2018 and learned python. Soon after throughout college I decided
                                to pick up the CIS degree and continued to learn things like Java, SQL, C#, Unity. In combination
                                to those at the time I didn't know what API's were or MVC and along the way it was built into the 
                                college curriculum but was never told what it was.
                            </p>
                            <br>
                            <p>
                                From there the electives were the highlights specifically mobile apps and the capstone course.
                                During mobile apps I learned about Android Studio and MVC along with swift and IOS development and
                                created two apps, in Android Studio was a BlackJack app and in IOS was a collection game where the 
                                character would move side to side collecting falling items.
                            </p>
                            <br>
                            <p>
                                In mobile apps the lesson in that was working in a small group (3 people) and learning as you code.
                                No one in the class had done mobile apps before so we all had to learn MVC and how to make the apps
                                work with both front end and back end. During the BlackJack project I was mainly the front-end and was the "leader"
                                that got everyone talking and checking up on others. 
                            </p>
                            <br>
                            <p>
                                In capstone I was faced with learning on the go to make a Metroidvania style game. I was the only one developing the 
                                game with artwork from another person and had to learn to deal with collisions, animations, and making enemy AI move around.
                            </p>
                            <br>
                            <p>
                                After all that I decided to learn .NET and Angular to diverse myself. I learned a bit through Udemy as a baseline, but mainly
                                would search up what I needed then applied it to whatever I was making.
                            </p>
                        </div>
                        <div class="hobbies">
                            <li>Hobbies</li>
                            <ul>
                                <li>Fishing</li>
                                <br>
                                <li>Gaming</li>
                                <br>
                                <li>Youtube</li>
                                <br>
                                <li>Streaming</li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
<router-outlet></router-outlet>