/*Style Sheet items are labeled alphabetically*/
*
{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}
body{
    overflow: scroll;
}
.banner-welcome{
    border: 1px solid red;
    padding-bottom: 80vh;
}

.banner-welcome > h1{
    font-size: 6rem;
    color: white;
    font-weight: normal;
    text-align: center;
    padding-top: 10rem;
}

.banner-welcome > button{
    width: 10%;
    margin-left: 45%;
    margin-right: 30%;
    border-radius: 15px;
    padding: 12px 32px;
    background-color: grey;
}

.container{
    padding: 3rem 10rem;
}

html{
    background-color: #111111;
    color: #111111;
    font-family: monospace;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.info-container{
    color: white;
    width: 100%;
    height: 96vh;
    align-content: center;
    border: 1px solid white;
    padding-top: 2rem;
}

.info-description{
    padding-left: 12rem;
}

.info-description > h1{
    font-size: 96px;
    color: #3491CB;
}

.info-description > p{
    font-size: 64px;
}

.logo{
    flex: 2;
}


#link{
    color: darkblue;
}

.navbar{
    display: flex;
    color: blue;
}

.navbar > ul{
    display: flex;
    list-style: none;
}

.navbar > ul> li{
    padding: 0rem 1rem;
}

.top-banner {
    width: 100%;
    height: 100vh;
    background: url("images/eatsleep.jpg");
    background-size: cover;
}
