.banner-welcome{
    padding-bottom: 80vh;
}

.banner-welcome > h1{
    font-size: 8rem;
    color: white;
    font-weight: normal;
    text-align: center;
    padding-top: 18rem;
}

.banner-welcome > button{
    width: 10%;
    margin-left: 45%;
    margin-right: 30%;
    border-radius: 15px;
    padding: 12px 32px;
    background-color: grey;
}

.info-description > h1{
    font-size: 96px;
    color: #3491CB;
}
.info-description >h1 >a{
    color:#52D728;
}

.info-description > h2{
    font-size: 48px;
}

.top-banner {
    width: 100vw;
    height: 100vh;
    background: url("../../images/eatsleep.jpg");
    background-size: cover;
}