<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <meta charset="utf-8"/>
    <title>L's Portfolio</title>
    <base href="/">
</head>
<body>
    <div class="top-banner">
        <!--Banner Content-->
        <div class="main-content">
            <div id="get-started-button" class="banner-welcome" style="align-content: center;">
                <h1>Welcome</h1>
                <button (click)="toInfo()">Get Started!</button>
            </div>
        </div>
    </div>
    <div id="info" class="info-container">
        <div class="info-banner">
            <div class="info-description">
                <h1>Short Introduction</h1>
                <h2>FullStack Developer</h2>
            <br>
                <P>
                    With a Bachelor of Arts in Computer Information Systems<br>
                    Learning & solving problems is a big part of my life and part of the enjoyment<br>
                <br>
                    Front-end Skill: HTML, CSS, JavaScript, JQuery<br>
                    Experience using: Angular & Nodejs<br>
                <br>
                    Back-end Skills: .Net, Java, SQL<br>
                    Experience using: .Net Core, Spring Framework, ETL, JSON, REST, ASP.NET, Visual Studio<br>
                </P>
                <br>
                <h1 routerLinkActive="active"><a [routerLink]="['/about']">More Info</a></h1>
            </div>
        </div>
    </div>
</body>
</html>
<router-outlet></router-outlet>